.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 32px;
  justify-content: start;
  &__logo {
    width: 32px;
  }
}
.storedPasswords {
  &__showPasswords {
    display: flex;
    flex-direction: column;
    width: 311px;
    &__passwordContainer {
      display: flex;
      flex-direction: column;
    }
  }
}
